*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ortak Header */

#header{
    background-color: #085E7D;
}

.navbar{
    background-color: #085E7D;
}

.nav-link.active{
    opacity: 1;
}

.nav-link{
    opacity: .5;
}
.nav-link:hover{
    opacity: .7;
}

/* Anasayfa Main */

#hero-image{
    position: relative;
}

#hero>p{
    margin: 0 350px;
}
#download-details{
    background-color: #085E7D;
    margin-top: -300px;
    height: 400px;
    position: absolute;
    top: 540px;
}

#download-details>p{
    margin: 0 320px;
}

#white-button{
    border-color: white;
}

#image-cards{
    margin-top: 120px;
}


/* Contact Sayfası Main */

#contact-form-row {
    height: 550px;
}

#contact-form-items{
    height: 100%;
}

#contact-form{
    width: 50%;
    height: 550px;
    background-color: #085E7D;
}

#contact-map{
    height: 550px;
    width: 50%;
}

#contact-map>iframe{
    height: 100%;
    width: 100%;
}

#contact-form-items>input{
    background-color: #FFF3CD;
}

#contact-map-img{
    height: 100%;
    width: 100%;
}

/* Blog Sayfası Main */

#blog-cards img{
    height: 100%;
}


/* Responsive Bölümü */

@media(max-width: 993px){

    #blog-cards img{
        width: 100%;
    }

    #blog-cards.card-body{
        width: 100%;
    }

    #contact-map-img {
        width: 100%;
        height: 230px;
    }

    #contact-map, #contact-form{
        width: 100%;
        height: 100%;
    }

    #contact-us{
        height: 1150px;
    }
}


@media(max-width: 730px){
    #hero{
        height: 900px;
    }
}

@media(max-width: 500px){
    #hero{
        height: 920px;
    }
}


/*  Ortak Footer */

#footer{
    background-color: #085E7D;
}

#footer>p{
    color: white;
}